extends layout
block content
 #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
 p
 | Fitnesshub is used to find better gyms present near you with your requirements.
 | <br /><br />

